<%= form_with(model: waiting_list, local: true) do |form| %>
  <% if waiting_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waiting_list.errors.count, "error") %> prohibited this waiting_list from being saved:</h2>

      <ul>
      <% waiting_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :user_id, :style=>'display:block;' %>
    <%= form.number_field :user_id, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :event_id, :style=>'display:block;' %>
    <%= form.number_field :event_id, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :entry_date, :style=>'display:block;' %>
    <%= form.datetime_select :entry_date, :style=>'display:block; width:100%' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
