<h1>Editing Waiting List</h1>

<div class="container">
  <%= render 'form', waiting_list: @waiting_list %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to '<-Back', waiting_lists_path %></button>
  <button><%= link_to 'Show', @waiting_list %></button>
</div>
