<h1 style="text-align:center">Waiting Lists</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>User</th>
      <th>Evento</th>
      <th>Data Req</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waiting_lists.each do |waiting_list| %>
      <tr>
        <td><%= waiting_list.user_id %></td>
        <td><%= waiting_list.event_id %></td>
        <td><%= waiting_list.entry_date %></td>
        <td><%= link_to 'Show', waiting_list %></td>
        <td><%= link_to 'Edit', edit_waiting_list_path(waiting_list) %></td>
        <td><%= link_to 'Destroy', waiting_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Waiting List', new_waiting_list_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
