<h1 style="text-align:center">New Waiting List</h1>

<div class="container">
  <%= render 'form', waiting_list: @waiting_list %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', waiting_lists_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
