<h1 style="text-align:center">Detalhes Espera</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>User:</strong>
    <%= @waiting_list.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= @waiting_list.event_id %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= @waiting_list.entry_date %>
  </p>
  
  <button><%= link_to '<-Back', waiting_lists_path %></button>
  <button><%= link_to 'Edit', edit_waiting_list_path(@waiting_list) %></button>

</div>
