<h1>Editing Payment Method</h1>

<div class="container">
  <%= render 'form', payment_method: @payment_method %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to '<-Back', payment_methods_path %></button>
  <button><%= link_to 'Show', @payment_method %></button>
</div>
