<h1 style="text-align:center">Payment Methods</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Apelido</th>
      <th>Card Holder</th>
      <th>Card Number</th>
      <th>Card Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.nickname %></td>
        <td><%= payment_method.card_holder %></td>
        <td><%= payment_method.card_number %></td>
        <td><%= "#{payment_method.card_expiration_month}/#{payment_method.card_expiration_year}" %></td>
        <td><%= link_to 'Show', payment_method %></td>
        <td><%= link_to 'Edit', edit_payment_method_path(payment_method) %></td>
        <td><%= link_to 'Destroy', payment_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Payment Method', new_payment_method_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
