<h1 style="text-align:center">New Payment Method</h1>

<div class="container">
  <%= render 'form', payment_method: @payment_method %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', payment_methods_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
