<h1 style="text-align:center">Detalhes Pagamento</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>Nickname:</strong>
    <%= @payment_method.nickname %>
  </p>

  <p>
    <strong>Card holder:</strong>
    <%= @payment_method.card_holder %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= @payment_method.card_number %>
  </p>

  <p>
    <strong>Card Expiration:</strong>
    <%= "#{@payment_method.card_expiration_month}/#{@payment_method.card_expiration_year}" %>
  </p>
  
  <button><%= link_to '<-Back', payment_methods_path %></button>
  <button><%= link_to 'Edit', edit_payment_method_path(@payment_method) %></button>

</div>
