<h2 style="text-align:center">Forgot your password?</h2>
<div class="login-page">
  <div class="form" style="width:500px">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field" style="padding-bottom:2vh">
          <%= f.label :email, :style=>'display:block;' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :style=>'display:block; width:100%' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
