<h1 style="text-align:center">Editar Cupom</h1>

<div class="container">
  <%= render 'form', coupon: @coupon %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to 'Show', @coupon %></button>
  <button><%= link_to 'Back', coupons_path %></button>
</div>
