<h1 style="text-align:center">Cupons</h1>


<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Qtde</th>
      <th>Evento</th>
      <th>Desconto</th>
      <th>Código</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.qty %></td>
        <td><%= Event.find(coupon.event_id).name %></td>
        <td><%= coupon.discount %></td>
        <td><%= coupon.code %></td>
        <td><%= link_to 'Show', coupon %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
          <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Coupon', new_coupon_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
