<h1 style="text-align:center">Novo Cupom</h1>

<div class="container">
  <%= render 'form', coupon: @coupon %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', coupons_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
