<h1 style="text-align:center">Detalhes Cupom</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>Qty:</strong>
    <%= @coupon.qty %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= Event.find(@coupon.event_id).name %>
  </p>

    <p>
      <strong>Discount:</strong>
      <%= @coupon.discount %>
    </p>

  <p>
    <strong>Code:</strong>
    <%= @coupon.code %>
  </p>

<% if current_user.admin? %>
  <button><%= link_to 'Edit', edit_coupon_path(@coupon) %></button>
<% end %>
  <button><%= link_to 'Back', coupons_path %></button>
</div>
