<h1 style="text-align:center">Compras</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Tipo</th>
      <th>Item</th>
      <th>Data</th>
      <th>Cupom</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
    <%
      klass = purchase.purchase_type.classify.constantize
      item = klass.find(purchase.bought_id).name
    %>
      <tr>
        <td><%= purchase.purchase_type %></td>
        <td><%= item %></td>
        <td><%= purchase.date %></td>
        <td><%= Coupon.find(purchase.coupon_id).code if purchase.coupon_id %></td>
        <td><%= purchase.value %></td>
        <td><%= link_to 'Show', purchase %></td>
      </tr>
    <% end %>
  </tbody>
</table>
