<h1 style="text-align:center">Nova Compra</h1>

<div class="container">
  <%= render 'form', purchase: @purchase %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', purchases_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
