<h1 style="text-align:center">Detalhes Compra</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>purchase_type:</strong>
    <%= @purchase.purchase_type %>
  </p>

  <p>
    <strong>Bought:</strong>
    <%= @item %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @purchase.date %>
  </p>

  <p>
    <strong>Coupon:</strong>
    <%= Coupon.find(@purchase.coupon_id).code if @purchase.coupon_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= @purchase.value %>
  </p>

  <button><%= link_to '<-Back', purchases_path %></button>
</div>
