<div class="gradient-header" style="height:25vh">
  <h1 class="vectro"><span class="vectro-body">UNINGRESSOS</span><span class="vectro-red">I</span><span class="vectro-green">I</span><span class="vectro-blue">I</span></h1>
</div>
