<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin:0;">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'Eventos', events_path(@events), {:class=>'nav-link'} %>
    </li>

    <li class="nav-item">
      <%= link_to 'Combos', combos_path(@combos), {:class=>'nav-link'} %>
    </li>

    <li class="nav-item">
      <%= link_to 'Produtos', products_path(@products), {:class=>'nav-link'} %>
    </li>

    <% if current_user.admin? %>
      <li class="nav-item">
        <%= link_to 'Cupons', coupons_path(@coupons), {:class=>'nav-link'} %>
      </li>
    <% end %>

  <% if !current_user.admin? %>
    <li class="nav-item">
      <%= link_to 'Pagamento', payment_methods_path(@payment_methods), {:class=>'nav-link'} %>
    </li>

    <li class="nav-item">
        <%= link_to 'Compras', purchases_path(@purchases), {:class=>'nav-link'} %>
    </li>

    <li class="nav-item">
        <%= link_to 'Contatos', contacts_path(@contacts), {:class=>'nav-link'} %>
    </li>

  <% end %>
  </ul>
</nav>
