<%= form_for "", url: events_path, method: :get, html: {id: 'course_filter'}, wrapper: 'input_mdb' do |form| %>
<h2>Filtrar Eventos</h2>
  <div class="field" style="padding-bottom:2vh">
    <%= form.label :name, :style=>'display:block' %>
    <%= form.text_field :name, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :description, :style=>'display:block' %>
    <%= form.text_field :description, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :owner, :style=>'display:block' %>
    <%= form.text_field :owner, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :category, :style=>'display:block' %>
    <%= form.text_field :category, :style=>'display:block; width:100%' %>
  </div>

  <div class="actions" style="text-align:center">
    <%= form.submit %>
  </div>
<% end %>
