<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :name, :style=>'display:block;' %>
    <%= form.text_field :name, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :qty, :style=>'display:block;' %>
    <%= form.number_field :qty, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :description, :style=>'display:block;' %>
    <%= form.text_field :description, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :date, :style=>'display:block;' %>
    <%= form.datetime_select :date, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :price, :style=>'display:block;' %>
    <%= form.text_field :price, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :category, :style=>'display:block;' %>
    <%= form.select :category, events_categories, :style=>'display:block; width:100%' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
