<h1 style="text-align:center">Editar Evento</h1>

<div class="container">
  <%= render 'form', event: @event %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to '<-Back', events_path %></button>
  <button><%= link_to 'Show', @event %></button>
</div>
