<h1 style="text-align:center">Eventos</h1>

<div class="container">
  <%= render partial: 'filter' %>
</div>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Nome</th>
      <th>Vagas</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @events.each do |event| %>
      <tr style="background:#d3d3d3; color:#000">
        <td><%= event.name %></td>
        <td><%= event.qty %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.price %></td>
        <td><%= event.category %></td>
        <td><%= link_to 'Show', event %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_user.admin? %>
  <div class="container" style="text-align:center">
      <button type="button" class="btn btn-primary btn-lg"><%= link_to 'Novo Evento', new_event_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
  </div>
<% end %>
