<h1 style="text-align:center">Novo Evento</h1>

<div class="container">
  <%= render 'form', event: @event %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', events_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
