<h1 style="text-align:center">Detalhes Evento</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Vacancy:</strong>
    <%= @event.qty %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.date %>
  </p>

  <p>
    <strong>price:</strong>
    <%= @event.price %>
  </p>

  <p>
    <strong>price:</strong>
    <%= @event.category %>
  </p>

  <% if !current_user.admin? %>
    <p>
      <%= link_to 'Enviar mensagem para o organizador', { "controller" => "contacts", "action"=>"new", :event => @event.id, :receiver => @owner.id, :broadcast => false } %>
    </p>

    <p>
      <%= link_to 'Comprar Ingresso', { "controller" => "purchases", "action"=>"new", :item_id => @event.id, :type => 'event' } %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Enviar mensagem para todos participantes', { "controller" => "contacts", "action"=>"new", :event => @event.id, :receiver => @owner.id, :broadcast => true } %>
    </p>

    <p>
      <%= link_to 'Cadastrar produto relacionado', { "controller" => "products", "action"=>"new", :event => @event.id } %>
    </p>
  <% end %>

<% if  !@products.blank? %>
  <h2> Produtos relacionados </h2>

  <% @products.each do |product| %>
    <div>
      <strong> <%= product.name %> </strong>
      <p> <%= product.description %> </p>
      <p> <%= product.price %> </p>
      <p> <%= product.qty %> </p>
      <td><%= link_to 'Show', product %></td>
    </div>
  <% end %>
<% end %>

<br><br>
<h2> Compartilhe nas redes sociais </h2>
<%= social_share_button_tag(@event.name) %>

  <button><%= link_to '<-Back', events_path %></button>
  <% if !current_user.admin? %>
    <button><%= link_to 'Edit', edit_event_path(@event) %></button>
  <% end %>
</div>
