<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :message, :style=>'display:block;'  %>
    <%= form.text_area :message, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.hidden_field :receiver, :value => params[:receiver] %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.hidden_field :event, :value => params[:event] %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.hidden_field :broadcast, :value => params[:broadcast] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
