<h1 style="text-align:center">Contatos</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>User</th>
      <th>Message</th>
      <th>Receiver</th>
      <th>Evento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.user %></td>
        <td><%= contact.message %></td>
        <td><%= contact.receiver %></td>
        <td><%= contact.event %></td>
        <td><%= link_to 'Show', contact %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
