<h1 style="text-align:center">Detalhes Contato</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Event:</strong>
  <%= @contact.event %>
</p>
