<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ola, <%= @receiver_name %>. Você recebeu uma nova mensagem sobre o evento '<%= @event %>'</p>
    <p>
    De: <%= @user_name %> - <%= @user_email %> <br>
    </p>
    ----------
    <p>
    Mensagem:<br>
    </p>
    <p><%= @message %></p>
    ----------
  </body>
</html>
