<p id="notice"><%= notice %></p>

<p>
  <strong>Id achievement:</strong>
  <%= @user_achievement.id_achievement %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_achievement.user_id %>
</p>

<%= link_to 'Edit', edit_user_achievement_path(@user_achievement) %> |
<%= link_to 'Back', user_achievements_path %>
