<script>
  $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
</script>

<h2 style="text-align:center">Log in</h2>

<div class="login-page">
  <div class="form" style="width:500px">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div style="padding:1% 20% 5%">
          <%= flash[:recaptcha_error]%>
          <%= recaptcha_tags%>
        </div>
        
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me%>
          <%= f.check_box :remember_me%>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

  </div>
</div>
