<%= form_with(model: combo, local: true) do |form| %>
  <% if combo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(combo.errors.count, "error") %> prohibited this combo from being saved:</h2>

      <ul>
      <% combo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :event_id, :style=>'display:block;' %>
    <%= form.select :event_id, my_events, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :product_id, :style=>'display:block;' %>
    <%= form.select :product_id, my_products, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :name, :style=>'display:block;' %>
    <%= form.text_field :name, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :price, :style=>'display:block;' %>
    <%= form.text_field :price, :style=>'display:block; width:100%' %>
  </div>

  <div class="field" style="padding-bottom:2vh">
    <%= form.label :qty, :style=>'display:block;' %>
    <%= form.number_field :qty, :style=>'display:block; width:100%' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
