<h1 style="text-align:center">Editar Combo</h1>

<div class="container">
  <%= render 'form', combo: @combo %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to '<-Back', combos_path %></button>
  <button><%= link_to 'Show', @combo %></button>
</div>
