<h1 style="text-align:center">Combos</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Evento</th>
      <th>Produto</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Qtde</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combos.each do |combo| %>
      <tr>
        <td><%= Event.find(combo.event_id).name %></td>
        <td><%= Product.find(combo.product_id).name %></td>
        <td><%= combo.name %></td>
        <td><%= combo.price %></td>
        <td><%= combo.qty %></td>
        <td><%= link_to 'Show', combo %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_combo_path(combo) %></td>
          <td><%= link_to 'Destroy', combo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <div class="container" style="text-align:center">
      <button type="button" class="btn btn-primary btn-lg"><%= link_to 'New Combo', new_combo_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
  </div>
<% end %>
