<h1 style="text-align:center">Novo Combo</h1>

<div class="container">
  <%= render 'form', combo: @combo %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to 'Back', combos_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
