<h1 style="text-align:center">Detalhes Combo</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>Event:</strong>
    <%= Event.find(@combo.event_id).name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= Product.find(@combo.product_id).name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @combo.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @combo.price %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= @combo.qty %>
  </p>

  <% if !current_user.admin? %>
    <p>
      <%= link_to 'Comprar Combo', { "controller" => "purchases", "action"=>"new", :item_id => @combo.id, :type => 'combo' } %>
    </p>
  <% end %>

  <button><%= link_to '<-Back', combos_path %></button>
  <% if current_user.admin? %>
    <button><%= link_to 'Edit', edit_combo_path(@combo) %></button>
  <% end %>

</div>
