/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@import "events";

@import "social-share-button";

.gradient-header {
  background-color: #240638;
  background-image: linear-gradient(316deg, #240638 0%, #000 74%);
  color: #000;
  margin:0;
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);

body {
  position: relative;
  background: #fff;
  height: 100vh;
}

html {
  height: 100vh;
}

.navbar-gradient {
  background-color: #c0c0c0;
  color: #fff;
}

.chrome {
position: fixed;
background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 4px #f5f5f5;
font-size: 200px;
font-family: 'Titillium Web', sans-serif;
font-style: italic;
margin: 0;
line-height: 1;
}

.chrome:before {
content: 'CHROME';
position: absolute;
left: 0;
top: 0;
z-index: 10;
background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
background-position:-680px 0;
-webkit-background-clip: text;
-webkit-text-stroke: 0;
padding-right: 300px;
-webkit-animation-name: chrome_effect;
-webkit-animation-duration: 6s;
-webkit-animation-delay: 2s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
}

.dreams {
position: absolute;
margin: 0px;
font-family: 'Mr Dafoe', cursive;
font-size: 160px;
color: #F975F7 ;
transform:rotate(-15deg);
-ms-transform:rotate(-15deg); /* IE 9 */
-webkit-transform:rotate(-15deg); /* Safari and Chrome */
margin-left: 400px;
margin-top: -120px;
-webkit-text-stroke: 1px #f008b7;
-webkit-filter: drop-shadow(2px 2px 20px #f008b7);
z-index: 20;
}

.windows .dreams {
-webkit-text-stroke: 4px #f008b7;
}

.vectro {
  position: absolute;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'Righteous', cursive;
  font-size: 10vw;
}

.vectro:after {
content: '';
width: 100%;
height: 100%;
/*-webkit-animation:vectro_effect 0.067s infinite;*/
background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}



.windows .vectro {
-webkit-text-stroke: 4px #f1f1f1;
}

.vectro-body {
-webkit-background-clip: text;
background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
-webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
}

.vectro-red {
color: #F10C20;
-webkit-text-fill-color: #F10C20;
-webkit-text-stroke: 0;
-webkit-filter: drop-shadow(2px 2px 15px #F10C20);
font-style: italic;
padding-right: 20px;
}

.windows .vectro-red {
padding-right: 30px;
}

.vectro-green {
color: #6BFF2B;
-webkit-text-fill-color: #6BFF2B;
-webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
-webkit-text-stroke: 0;
font-style: italic;
padding-right: 20px;
margin-left: -20px;
}

.windows .vectro-green {
padding-right: 30px;
margin-left: -30px;
}

.vectro-blue {
color: #3F59F4;
-webkit-text-fill-color: #3F59F4;
-webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
-webkit-text-stroke: 0;
font-style: italic;
padding-right: 20px;
margin-left: -20px;
}

.windows .vectro-blue {
padding-right: 30px;
margin-left: -30px;
}

.street-machine {
position: relative;
}

.street {
position: relative;
font-family: 'Candal', sans-serif;
font-size: 180px;
font-style: italic;
-webkit-text-stroke: 0.1px #ed2121;
color: #000;
text-shadow: -10px 10px 0px #ed2121;
margin: 0;
}

.windows .street {
-webkit-text-stroke: 4px #ed2121;
}

.street:before {
content: '';
position: absolute;
height: 4px;
width: 665px;
top: 83px;
left: 48px;
background: #ed2121;
box-shadow: -8px 13px #ed2121;
}

.windows .street:before {
left: 55px;
width: 659px;
}

.street:after {
content: '';
position: absolute;
height: 4px;
width: 639px;
top: 109px;
left: 36px;
background: #ed2121;
box-shadow: -4px 13px #ed2121;
}

.machine {
position: absolute;
left: 50px;
top: 350px;
font-family: 'Mr Dafoe', cursive;
font-size: 130px;
transform:rotate(-15deg);
-ms-transform:rotate(-15deg); /* IE 9 */
-webkit-transform:rotate(-15deg); /* Safari and Chrome */
color: #ed2121;
margin: 0;
margin-top: -160px;
padding-left: 430px;
text-shadow: 1px 2px 0px #F9D2D2;
}

.windows .machine {
margin-top: -200px;
}

.victory {
position: relative;
font-family: 'Permanent Marker', cursive;
font-variant:small-caps;
font-size: 180px;
-webkit-transform: skew(-15deg,-15deg);
padding-left: 80px;
background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 0;
-webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}

.victory:before {
content: '-';
position: absolute;
bottom: -98px;
left: 254px;
background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
-webkit-background-clip: text;
text-shadow: 70px -7px #F3C8F3;
}

.victory:after {
content: '-';
position: absolute;
bottom: -85px;
left: 395px;
background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
-webkit-background-clip: text;
text-shadow: 70px -5px #F3C8F3;
}

.victory-v {
position: relative;
background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
-webkit-background-clip: text;
padding-right: 18px;
margin-right: -18px;
}

.victory-v:before {
content: '-';
position: absolute;
top: -71px;
left: -71px;
background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
-webkit-background-clip: text;
}

.victory-v:after {
content: '-';
position: absolute;
top: -72px;
left: 103px;
background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
-webkit-background-clip: text;
}

.future-cop {
position: relative;
margin-top: 500px;
}

.future {
position: absolute;
left: 0;
top: -310px;
font-family: 'Mr Dafoe', cursive;
font-size: 200px;
margin-top: 160px;
margin-bottom: 0;
color: #EB219B;
-webkit-text-fill-color: rgba(253, 90, 250, 1);
text-shadow: -2px -2px 0 #FFBAF2;
-webkit-filter: drop-shadow(3px 3px 1px #441F62);
-webkit-transform: skew(-5deg,-5deg);
font-weight: normal;
z-index: 2;
margin-left: 60px;
padding-left: 50px;
padding-right: 70px;
}

.cop {
position: relative;
font-family: 'Monoton', cursive;
font-size: 20vw;
line-height: 1;
margin: 0;
margin-top: -95px;
padding-left: 80px;
/* font-weight: normal; */
background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #fff;
}

.cop:before {
position: absolute;
content: '';
left: 51px;
top: 74px;
width: 80px;
height: 3px;
background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
z-index: 4;
-webkit-animation-name: cop_before_effect;
-webkit-animation-duration: 5s;
-webkit-animation-delay: 2s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
}

.cop:after {
position: absolute;
content: '';
left: 90px;
top: 32px;
width: 3px;
height: 80px;
background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
z-index: 4;
-webkit-animation-name: cop_after_effect;
-webkit-animation-duration: 5s;
-webkit-animation-delay: 2s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes chrome_effect {
0% {background-position:-680px 0;}
10% {background-position:420px 0;}
100% {background-position:420px 0;}
}

@-webkit-keyframes cop_before_effect {
0% {
  left: 51px;
  top: 74px;
  opacity: 0;}

15% {
  left: 51px;
  top: 74px;
  opacity: 1;}

30% {
  left: 51px;
  top: 74px;
  opacity: 0;}

35% {
  left: 370px;
  top: 45px;
  opacity: 0;}

50% {
  left: 370px;
  top: 45px;
  opacity: 1;}

65% {
  left: 370px;
  top: 45px;
  opacity: 0;}

70% {
  left: 564px;
  top: 74px;
  opacity: 0;}

85% {
  left: 564px;
  top: 74px;
  opacity: 1;}

100% {
  left: 564px;
  top: 74px;
  opacity: 0;}
}

@-webkit-keyframes cop_after_effect {
0% {
  left: 90px;
  top: 32px;
  opacity: 0;}

15% {
  left: 90px;
  top: 32px;
  opacity: 1;}

30% {
  left: 90px;
  top: 32px;
  opacity: 0;}

35% {
  left: 413px;
  top: 11px;
  opacity: 0;}

50% {
  left: 413px;
  top: 11px;
  opacity: 1;}

65% {
  left: 413px;
  top: 11px;
  opacity: 0;}

70% {
  left: 603px;
  top: 32px;
  opacity: 0;}

85% {
  left: 603px;
  top: 32px;
  opacity: 1;}

100% {
  left: 603px;
  top: 32px;
  opacity: 0;}
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 600px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 50px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 70vw;
  padding: 5vh 25vw 5vh;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
