<h1 style="text-align:center">Editar Produtos</h1>

<div class="container">
  <%= render 'form', product: @product %>
</div>

<div class="container" style="text-align:center">
  <button><%= link_to '<-Back', products_path %></button>
  <button><%= link_to 'Show', @product %></button>
</div>
