<h1 style="text-align:center">Produtos</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped" style="border: 1px solid #fff; border-radius: 24px;">
  <thead style="background:#000; color:#fff">
    <tr>
      <th>Preço</th>
      <th>Nome</th>
      <th>Desconto</th>
      <th>Qtde</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.price %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.qty %></td>
        <td><%= link_to 'Show', product %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
