<h1>Novo Produto</h1>

<div class="container">
  <%= render 'form', product: @product %>
</div>

<div class="container" style="text-align:center">
    <button type="button" class="btn btn-primary btn-lg"><%= link_to '<-Back', products_path, {:class=>'nav-item', :style=>'color:#fff'} %></button>
</div>
