<h1 style="text-align:center">Detalhes Produto</h1>

<p id="notice"><%= notice %></p>

<div class="container" style="text-align:center; height:100%">
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= @product.qty %>
  </p>

  <% if !current_user.admin? %>
    <p>
      <%= link_to 'Comprar Produto', { "controller" => "purchases", "action"=>"new", :item_id => @product.id, :type => 'product' } %>
    </p>
  <% end %>

  <button><%= link_to '<-Back', products_path %></button>
  <% if current_user.admin? %>
    <button><%= link_to 'Edit', edit_product_path(@product) %></button>
  <% end %>
</div>
