<!DOCTYPE html>
<html>
  <head>
    <title>Uningressos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="paige-container">
    <%= render "shared/header" %>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <footer class="footer">
        Logado como: <strong><%= current_user.email %></strong>.
        <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
      </footer>
    <% else %>
      <footer class="footer">
        <span>Uningressos - Xuaum e Camileski</span>
      </footer>
    <% end %>
    <div>
  </body>
</html>
